*{
    box-sizing: border-box;
    margin: 0;
}

.header{
    background-size: 100%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: 'Roboto', sans-serif;
    padding: 2rem;
}

.header span{
    background-color: black;
    padding: 5px;
    border-radius: 30px;
    font-size: 15px;
    color: white;
}